<!DOCTYPE html>
<html>
  <head>
    <title>KELOMPOK 3 SMART ALBUM</title>
  </head>
  <body>
    <h1>Select Ur Photo</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
      <input type="file" name="images" accept="image/jpeg,image/png" multiple>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
