<html>
<head>
<style>
div.gallery {
  margin: 5px;
  float: left;
  width: 180px;
  height: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}  

img{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    height: 180px;
}

</style>
</head>
<body>

<div class="container">
    <div class="gallery">
        <img src="../dataset/13662629-4849-4ced-a6e8-f308c15f34d0.jpg">
    </div>
    <div class="gallery">
        <img src="../dataset/207bc276-54ee-472e-87c8-3a31664830bb.jpg"    >
    </div>
    <div class="gallery">
        <img src="../dataset/273a9930-d41c-4d85-bde7-d72e6e0a5b65.jpg" >
    </div>
    <div class="gallery">
        <img src="../dataset/30cb9a9d-d56a-4265-840d-88142243fdaf.jpeg" >
    </div>
</div>
</body>
</html>
